/* ----------------------- all-header */
.site-header{
    position: relative;
    z-index: 2;
}
.top-bar__inner--flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
}

.navigation-bar__inner {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.navigation-bar__section {
    min-width: 0;
    padding-left: 0.5714285714285714rem;
    padding-right: 0.5714285714285714rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.navigation-wrapper {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.navigation-bar-btn {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: 4.285714285714286rem;
    padding: 0 0.7142857142857143rem;
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
}

.navigation--main>li {
    font-size: 1rem;
    white-space: normal;
    text-align: left;
}

.navigation--main {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0;
}

.navigation--inline>li {
    display: inline-block;
}

.navigation--main>li>a {
    display: inline-block;
    height: 4.285714285714286rem;
    padding: 0 0.7142857142857143rem;
    font-size: 0.92857rem;
    line-height: 4.285714285714286rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation--main>li>a {
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.2s ease-out 0.05s;
    -moz-transition: all 0.2s ease-out 0.05s;
    transition: all 0.2s ease-out 0.05s;
}

.navigation--main>li>a:before {
    content: '';
    display: block;
    height: 0.21428571428571427rem;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FC3C2D;
    -webkit-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: bottom center;
    -moz-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.navigation--main>li {
    z-index: 1;
}

.priority-nav__more {
    position: relative;
}

.navigation--main>li.menu-item-has-children>a:after {
    display: inline-block;
    font-family: 'mdicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e5cf';
    display: inline-block;
    margin-left: 0.1em;
    margin-top: -0.1em;
    font-size: 1.3em;
    letter-spacing: -0.2857em;
}

.priority-nav__more i {
    font-size: 1.5rem;
    margin-left: 1px;
}

.mdicon-more_vert::before {
    content: '\e5cf';
}

.navigation--main>li>.sub-menu,
.navigation--main li>.sub-menu .sub-menu {
    width: 220px;
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    bottom: auto;
    padding: 2rem 0;
    background: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0.21428571428571427rem 0.42857142857142855rem rgba(0, 0, 0, .16);
     transform: translateY(8px) translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
                visibility 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
                transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 1000;
}

.navigation--main .sub-menu {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    line-height: 1.4;
}

.navigation--main li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
    z-index: 100;
}

.navigation,
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.priority-nav__more {
    direction: rtl;
}

.priority-nav__more * {
    direction: ltr;
}

.priority-nav__more .sub-menu .sub-menu,
.priority-nav__more li.menu-item-has-children>a::after,
.priority-nav__more .atbs-keylin-mega-menu {
    display: none !important;
}

.navigation--main * {
    white-space: initial;
}

.mobile-header__inner--flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    width: 100%;
}

.mobile-header {
    position: relative;
    height: 3.5714285714285716rem;
    background: #fff;
    box-shadow: 0px 0.21428571428571427rem 0.14285714285714285rem 0px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 4%), 0 -1px 0 0 rgb(0 0 0 / 4%);
}

.mobile-header__inner {
    padding: 0 1.0714285714285714rem;
}

.mobile-header__section {
    padding-right: 1.4285714285714286rem;
    white-space: nowrap;
}

.header-branding--mobile {
    min-width: 0;
}

.flexbox__item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header-logo--mobile img {
    max-height: 3.5714285714285716rem;
    padding: 0.7142857142857143rem 0;
}

.header-logo a {
    text-decoration: none !important;
}

.mobile-header__section:last-child {
    padding-right: 0;
}

.mobile-header-btn {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: 3.5714285714285716rem;
    padding: 0 0.2857142857142857rem;
    background: transparent;
    border: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    vertical-align: middle;
}

.mobile-header-btn i {
    font-size: 1.8571428571428572rem;
    line-height: 3.5714285714285716rem;
}

.header-search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fafafa;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header-search-dropdown.is-active {
    display: block;
    box-shadow: 0px 0.21428571428571427rem 0.14285714285714285rem 0px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 4%), 0 -1px 0 0 rgb(0 0 0 / 4%);
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.search-form {
    position: relative;
}

.search-form--horizontal {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.search-form--horizontal .search-form__input-wrap {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header-search-dropdown .search-form__input {
    padding: 1.2857142857142858rem 0.5714285714285714rem;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 1.14286rem;
}

.header-search-dropdown .search-form__submit {
    text-transform: uppercase;
}

@media(max-width:767px){
    .mobile-header__inner {
        padding: 0 1.955671447196871vw;
    }
    
    .mobile-header__section {
        padding-right: 2.607561929595828vw;
        white-space: nowrap;
    }
}
/* ----------------------- all-header */